<h4>{{question.question_text}} </h4>
<p>{{question.pub_date}}</p><br>
<ul>
 {% for answer in all_answers %}
	<li>{{answer}}</li>
 {% endfor %}
</ul>
<br><br>
<form action= "{% url 'blog:handling' question.id %}" method= "post">
{% csrf_token %}
answer :<br>
 <textarea name="Text1" cols="40" rows="5" ... ></textarea><br><br>
<input type="submit" value ="submit">
</form>

<br><br><br><br><br><br><br>

<a href ="{% url 'signin:signout' %}"> <b> signout</b></a>
