<ul>
    {% for day in day_list %}
        <li><a href="/mess_menu/{{ day.id }}/">{{ day.day_name }}</a></li><br>
    {% endfor %}
</ul>
<br><br><br><br><br><br><br>

<a href ="{% url 'signin:signout' %}"> <b> signout</b></a>
