<h2>Opt out for any of the following for tomorrow :</h2>

<form action= "{% url 'mess_menu:handle' %}" method= "post">
{% csrf_token %}
{% if not opted_out_1 %}
	<input type="radio" name="breakfast" value='1' >breakfast<br>
{% endif %}

{% if not opted_out_2 %}
	<input type="radio" name="lunch" value='2' >lunch<br>
{% endif %}

{% if not opted_out_3 %}
	<input type="radio" name="dinner" value='3' >dinner<br>
{% endif %}

{% if  opted_out_1 and opted_out_2 and opted_out_3 %}
	<b>You opted out for every meal for tomorrow</b><br>
{% endif %}

<input type="submit" value="opt_out">
</form>
<br><br><br><br><br><br><br>

<a href ="{% url 'signin:signout' %}"> <b> signout</b></a>
