<a href="{% url 'blog:index' %}" ><h2> mess blog</h2> </a> <a href="{% url 'feedback_index' %}">
<h2> feedback </h2>
</a>
<ul>
{% for day in day_list %}
	{% if today_name == day.day_name %}
		<li><a href = "/mess_menu/{{ day.id }}/"><b>Click here for Today's Menu</b></a></li><br>
	{% endif %}
{% endfor %}

<li><a href = "/mess_menu/"><b>This Week's Menu</b></a></li><br>

</ul>


<h3>Food Count for Tomorrow :</h3>
<ul>
<li>Breakfast : {{ count.0 }} </li>
<li>lunch     : {{ count.1 }} </li>
<li>dinner    : {{ count.2 }} </li>
</ul>
<br><br><br>

<a href="{% url 'mess_menu:opt_out' %}"> <b> opt_out for tomorrow's mess</b></a>

<br><br><br><br><br><br><br>

<a href ="{% url 'signin:signout' %}"> <b> signout</b></a>
