<h3> Signin into mess portal </h3>
<!--changed handling to handling_api while converting views to api  -->
<form action ="{% url 'signin:handling_api' %}" method ="post" >
{% csrf_token %}
 Username: <input type="text" name='username'><br><br>
 Password: <input type = "password" name ="password" ><br><br>
 <input type = "submit" value = "Signin">
</form>
