<h3>Signup For Mess</h3>
<form action="{% url 'signup:handling' %}" method="post">
 {% csrf_token %}
first_name <input type ="text" name = "username"  ><br><br>
last_name <input type = "text" name ="last_name" ><br><br>
email     <input type = "text" name ="email" ><br><br>
 password
<input  type ="password" name ="password" ><br><br> 
<input type = "submit" value = "signup" >
</form>
